html{
  font-family: Arial, sans-serif;
}
header ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: none;
  position: absolute;
  top:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  left: 0;
  right: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

a{
  text-decoration:none;
  color: black;
}

header{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 16px;
  align-items:center;
  border-bottom: 1px solid grey;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  background-color: white;
}

header nav ul{
  display: flex;
  background-color: white;
}
h1{
  margin: 0 0 0 1rem;
}

h1, .fas, .fab{
  font-size: 1.5rem;
  color:black;
}

header div {
  display: flex;
    align-items:center;
}

h1 a{
  color:#a91122;
  font-weight:900;
}

nav ul li a{
  font-weight: 900;
  display: block;
  margin:8px 0;
}

nav ul a:hover{
  color:red;
}
.overlay{
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: none;
}
.locations{
  background-color: white;
  max-width: 90%;
  position: absolute;
  left: 5%;
  top:calc(50% - (303px / 2));
}

.banner{
  background-image: url('../img/five-guys-hero.jpg');
  background-position: bottom center;
  background-size: cover;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 500px;
  padding: 25% 0;
  max-height: 100vh;
}
.banner p{
  width: 50%;
  min-width: 300px;
  max-width: 650px;
}

main{
  text-align: center;
  padding-top: 45px;
}
main  ul{
  list-style: none;
  padding: 0;
}

@media (hover:none) {
  .banner{
    height: 100vh;
  }

}

@media (min-width:768px) {
  .menu-btn{
    display: none;
  }
  h1{
    margin-left: 0;
  }
  nav ul{
    display: flex !important;
    position: static;
    flex-direction: row;
    text-align: left;
    border:none;
    padding: 0;
  }
  nav {
    display: flex;
    align-items: center;
  }
  nav ul li a{margin: 0 10px 0 0;
  font-weight: normal;}
  .mobile{
  display: none;
  }
  .locations{
    max-width: 800px;
    margin: 0 auto;
  }
  .wrap{
    display: flex;
    flex-wrap:wrap;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
  }
  .wrap li:after{
    content: '\2022';
  }
  .wrap li:last-child:after{
    content: '';
  }
}
