header ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header a{
  text-decoration: underline;
}

header{
  display: flex;
  justify-content: space-between;
}

header nav ul{
  display: flex;
}
h1{
  margin: 0 0 0 1rem;
}

h1, .fas{
  font-size: 1.5rem;
  color:black;
}
.fab{
  color:red;
  border:none;
  font-size: 1.5rem;
  padding:0.1rem 0.5rem;
  margin:0 1rem;
  border-left:5px solid red;
  border-right: 5px solid red;
  box-shadow: 0 0 5px 0 grey;
}
header nav ul{
  display: none;
}
header div {
  display: flex;
}
